.uploadscreen {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 95%;
    height: 95%;
    border-radius: 15px;
    
    background-color: var(--upload_screen_background);

    overflow: hidden;
}

.uploadscreenclosebutton {
    float: right;
}

.uploadimagecontainer {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 50%;

    border-radius: 15px;

    background-color: var(--upload_screen_image_container);
}

.uploadimage {
    position: absolute;
    max-width: 90%;
    max-height: 90%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
}

.uploadform {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    width: 90%;
}

.uploadlabel {

}

.uploadbutton {

}